@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Yeon+Sung&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(115, 168, 183), #eee, rgb(7, 25, 48));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  /* background-color: aquamarine; */
  width: 70%;
  height: 500px;
  /* border: 1px solid red; */
  border-radius: 25px;
}
h2 {
  margin: 30px;
  text-align: center;
}
.myBtn {
  text-align: center;
  margin: 30px;
}
input {
  padding: 8px;
  border-radius: 12px;
  border: none;
  background-color: antiquewhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn {
  padding: 8px;
  border-radius: 15px;
  border: none;
  background-color: antiquewhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
img {
  display: block;
  width: 350px;
  margin: auto;
  border-radius: 20px;
}
.bottom {
  margin: 30px;
  text-align: center;
}
.h4 {
  margin: 10px;
}
